<footer class="footer navbar-fixed-bottom">
<div class="container-footer">
    <a href="https://github.com/gayathri8692" target="_blank"><i class="fab fa-github fa-2x"></i> <span class="sr-only"></span></a>
    <a href="https://www.linkedin.com/in/gayathri-sriram/" target="_blank"><i class="fab fa-linkedin fa-2x" aria-hidden="true"></i></a>
</div>
</footer>