<% include partials/boilerplate.ejs %>
  <body>
    <% include partials/nav.ejs %>
    <div class="flexInfo">
      <div class="container">
      <img src="/images/gayathri.jpg" class="my-pic">
          <div id="me" class="panel-body text-center">
          <hr>
            Hello, my name is Gayathri. I am a Full Stack Web Developer with a background in International business. Currently I am also looking for freelance work, so don’t hesitate to get in touch.
            <p id="me">P.S: I love Dogs!!</p>
         <hr>
        </div>
        
          </div>
        </div>
        <% include partials/footer.ejs %>
  </body>
</html>
