<% include partials/boilerplate.ejs %>
<body>
  <% include partials/nav.ejs %>
  <h1 class="text-center">MY PROJECTS</h1>
  <div id="project-container" class="container">
  <div class="row">
  
    <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="thumbnail">
        <img src="/images/stroop.png">
          <div class="caption">
            <h3>STROOP</h3>
            <p>A game built on Javascript, CSS and HTML</p>
            <hr>
            <p><a href="http://stroop-game-8692.bitballoon.com/" id="btn" class="btn" role="button" target="_blank">Play STROOP</a>
             <a href="https://github.com/gayathri8692/Stroop-game" id="btn2" class="btn" role="button" target="_blank">Git Repo</a></p>
          </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="thumbnail">
      <img src="/images/travelx1.png">
        <div class="caption">
          <h3>Travelx</h3>
          <p>Built with Express.js</p>
          <hr>
          <p><a href="https://young-basin-45694.herokuapp.com" id="btn" class="btn" role="button" target="_blank">TravelX</a>
           <a href="https://github.com/gayathri8692/project2-travelx" id="btn2" class="btn" role="button" target="_blank">Git Repo</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="thumbnail">
      <img src="/images/ttt.png">
        <div class="caption">
          <h3>TIC TAC TOE</h3>
          <p>Built with HTML CSS and Javascript</p>
          <hr>
          <p><a href="http://mytic-tac-toe.bitballoon.com/" id="btn" class="btn" role="button" target="_blank">Play Tic-tac-toe</a>
           <a href="https://github.com/gayathri8692/Tic-tac-toe" id="btn2" class="btn" role="button" target="_blank">Git Repo</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="thumbnail">
      <img src="/images/adabase.png">
        <div class="caption">
          <h3>ADA Library</h3>
          <p>Built with MongoDB and Mongoose for backend and React.js for the frontend</p>
          <hr>
          <p><a href="https://github.com/gayathri8692/project_3" id="btn2" class="btn" role="button" target="_blank">Git Repo</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="thumbnail">
    <img src="/images/judgem1.png">
        <div class="caption">
          <h3>Judge-m</h3>
          <p>Built with Ruby on Rails</p>
          <hr>
          <p><a href="https://safe-reef-25823.herokuapp.com/" id="btn" class="btn" role="button" target="_blank">Start Judge-m</a>
           <a href="https://github.com/gayathri8692/rails_project_4" id="btn2" class="btn" role="button" target="_blank">Git Repo</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="thumbnail">
      <img src="/images/weather.png">
        <div class="caption">
          <h3>US Weather App</h3>
          <p>Built with React.js</p>
          <hr>
           <a href="https://github.com/gayathri8692/react-weather-app/tree/master/weather-app" id="btn2" class="btn" role="button" target="_blank">Git Repo</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<% include partials/footer.ejs %>
</body>