
/**************************************/
/**************************************/
/************* MOBILE VERSION*********/
/**************************************/
/**************************************/


html {
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Gudea', sans-serif;
}

h1.text-center-proj {
  font-size: 20px;
  width: 150px;
  margin: 0 auto;
}


.navbar {
  background-color: white;
}

a.navbar-brand {
  font-size: 20px;
}

#name {
  color: white;
  font-family: 'Karla', sans-serif;
  color: black;
}

nav ul a {
  font-size: 14px;
  margin-left: 20px;
}


ul.nav.navbar-nav.navbar-right a {
  color: black;
  font-family: 'Gudea', sans-serif;
}


.flexInfo {
  margin-top: 50px;
  margin-bottom: 70px;
}

.panel-body {
  font-size: 12px;
  font-family: 'Karla', sans-serif;
}

#me {
  font-size: 13px;
  color: #5A4747;
  font-family: 'Karla', sans-serif;
  padding: 0 15%;
}

.text-center {
  font-family: 'Karla', sans-serif;
  color: #5A4747;
  margin: 0 auto;
}

.label {
  font-size: 16px;
  display: inline-block;
  margin: 5px;
  font-family: 'Karla', sans-serif;
  box-shadow: 7px 7px 20px 0px rgba(0,0,0,100);
  border-radius: 20px;
  background: white;
  color: black;
  height: 30px;
  width: 80px;
  text-align: center;
}

.subtitle {
  font-size: 12px;
  font-family: 'Karla', sans-serif;
}

.navbar-toggle .collapsed {
  background-color: white;
  color: black;
}

.thumbnail {
  box-shadow: 7px 7px 20px 0px rgba(0,0,0,1);
  height: 290px;
  padding: 20px;
}

.thumbFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #875BC2;
  text-decoration: underline;
  -moz-text-decoration-color: black;
  text-decoration-color: black;
}

#project-container.container {
  margin-top: 40px;
  margin-bottom: 100px;
}

.container {
  margin: 0 auto;
}

.caption {
  background: gray;
  border-radius: 20px;
  color: white;
  font-family: 'Gudea', sans-serif;
}

h3 {
  font-size: 30px;
  color: white;
}

p {
  font-size: 20px;
  color: white;
}


/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

footer {
  text-align: center;
  background-color: rgba(105, 105, 105, 0.479);
  color: white;
}

#foot {
  font-size: 12px;
}

footer a {
  color: white;
  padding: 0 20px;
}

footer a:hover {
  color: #875BC2;
}

#btn {
  color: white;
  border: 1px solid grey;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  background: black;
}

#btn:hover,
#btn.hover {
  background-color: #875BC2;
}

#btn:active,
#btn.active {
  background-color: #875BC2;
}

#btn2 {
  color: white;
  border: 1px solid grey;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  background: black;
}

#btn2:hover,
#btn2.hover {
  background-color: #875BC2;
}

#btn2:active,
#btn2.active {
  background-color: #875BC2;
}


.thumbnail {
  height: 600px;
}


.thumbnail img {
  height: 185px;
  margin-bottom: 50px;
  border-radius: 20px;
}


.jumbotron {
  height: 500px;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 200px 50px;
}


a.ct {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.skill {
  padding: 80px 80px;
}

img.my-pic {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  border: 5px solid gray;
}

.text-center-proj {
  font-family: 'Karla', sans-serif;
  color: #5A4747;
  text-align: center;
  font-size: 18px;

}

span.label {
  height: 50px;
  width: 120px;
}


#connect {
  font-size: 16px;
  color: #5A4747;
  font-family: 'Karla', sans-serif;
  padding: 10% 15%;
  text-align: center;
}





















/**************************************/
/**************************************/
/************* DESKTOP VERSION*********/
/**************************************/
/**************************************/


@media only screen and (min-width: 900px) {
html {
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Gudea', sans-serif;
}

.navbar {
  background-color: white;
  padding: 20px;
  height: 90px;
}

a.navbar-brand {
  font-size: 40px;
}

#name {
  color: white;
  font-family: 'Karla', sans-serif;
  color: black;
}

nav ul a {
  font-size: 24px;
  margin-left: 40px;
}


ul.nav.navbar-nav.navbar-right a {
  color: black;
  font-family: 'Gudea', sans-serif;
}


.flexInfo {
  margin-top: 30px;
}


.panel-body {
  font-size: 12px;
  font-family: 'Karla', sans-serif;
}

#me {
  font-size: 24px;
  color: #5A4747;
  font-family: 'Karla', sans-serif;
}

.text-center {
  font-family: 'Karla', sans-serif;
  color: #5A4747;
  margin: 0 auto;
}

.label {
  font-size: 20px;
  display: inline-block;
  margin: 5px;
  font-family: 'Karla', sans-serif;
  box-shadow: 7px 7px 20px 0px rgba(0,0,0,100);
  border-radius: 20px;
  background: white;
  color: black;
  height: 60px;
  width: 150px;
  text-align: center;
}

.subtitle {
  font-size: 12px;
  font-family: 'Karla', sans-serif;
}

.navbar-toggle .collapsed {
  background-color: white;
}

.thumbnail {
  box-shadow: 7px 7px 20px 0px rgba(0,0,0,1);
  height: 290px;
  padding: 20px;
}

.thumbFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #875BC2;
  text-decoration: underline;
  -moz-text-decoration-color: black;
  text-decoration-color: black;
}

#project-container.container {
  margin-top: 40px;
  margin-bottom: 100px;
}

div.container {
  margin: 0 auto;
}


.caption {
  background: gray;
  border-radius: 20px;
  color: white;
  font-family: 'Gudea', sans-serif;
}

h3 {
  font-size: 30px;
  color: white;
}

p {
  font-size: 20px;
  color: white;
}


/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.footer {
  text-align: center;
  background-color: rgba(105, 105, 105, 0.479);
  color: white;
}


footer a {
  color: white;
  font-size: 27px;
}

footer a:hover {
  color: #875BC2;
}

#btn {
  color: white;
  border: 1px solid grey;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  background: black;
}

#btn:hover,
#btn.hover {
  background-color: #875BC2;
}

#btn:active,
#btn.active {
  background-color: #875BC2;
}

#btn2 {
  color: white;
  border: 1px solid grey;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  background: black;
}

#btn2:hover,
#btn2.hover {
  background-color: #875BC2;
}

#btn2:active,
#btn2.active {
  background-color: #875BC2;
}


.thumbnail {
  height: 600px;
}


.thumbnail img {
  height: 285px;
  margin-bottom: 50px;
  border-radius: 20px;
}

header {
  height: 50px;
}


.jumbotron {
  height: 500px;
}


.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 200px 50px;
}


a.ct {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.skill {
  padding: 80px 200px;
}

img.my-pic {
  height: 220px;
  width: 220px;
  border-radius: 150px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  border: 10px solid gray;
}

h1.text-center-proj {
  font-family: 'Karla', sans-serif;
  color: #5A4747;
  text-align: center;
  width: 850px;
  font-size: 40px;
  padding: 80px 0;
}

#button-project {
  background-color: grey;
  border-color: grey;
  font-size: 22px;
  width: 200px;
  align-content: center;
}

#proj-home {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

#connect {
  font-size: 25px;
  color: #5A4747;
  font-family: 'Karla', sans-serif;
  padding: 10% 15%;
  text-align: center;
}

}
