@media only screen and (min-width: 900px) {
html {
  overflow-y: scroll;
  background-image: url('../images/wood.jpg');
}

body {
  padding-top: 70px;
  padding-bottom: 40px;
  background-image: url('../images/wood.jpg');
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Slabo 40px', serif;
}

.navbar {
  background-color: rgb(25, 21, 21);
  padding: 20px;
  height: 90px;
}

a.navbar-brand {
  font-size: 40px;
}

#name {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

nav ul a {
  font-size: 24px;
  margin-left: 40px;
}

.flexInfo {
  margin-top: 20px;
}

.panel-title {
  font-size: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  background: #6A4634;
  border-radius: 20px;
  color: white;
}

.panel-body {
  font-size: 12px;
  font-family: 'Source Sans Pro', sans-serif;
}

.panel-footer {
  font-size: 18px;
}

#me {
  font-size: 24px;
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
}

.label {
  font-size: 20px;
  display: inline-block;
  margin: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  box-shadow: 7px 7px 20px 0px rgba(0,0,0,100);
  border-radius: 20px;
  background: white;
  color: black;
}

.subtitle {
  font-size: 12px;
  font-family: 'Source Sans Pro', sans-serif;
}

.navbar-toggle .collapsed {
  background-color: white;
}

.thumbnail {
  box-shadow: 7px 7px 20px 0px rgba(0,0,0,1);
  height: 290px;
  padding: 20px;
}

.thumbFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #875BC2;
}

#project-container.container {
  margin-top: 40px;
  margin-bottom: 100px;
}

.container {
  margin: 0 auto;
}

.caption {
  background: #6A4634;
  border-radius: 20px;
  color: white;
}

h3 {
  font-size: 30px;
  color: white;
}

p {
  font-size: 20px;
  color: white;
}

.text-center {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-size: 44px;
}


/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

footer {
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  padding: 15px;
  color: white;
}

#foot {
  margin: 5px;
}

footer a {
  margin: 5px;
  color: white;
}

footer a:hover {
  color: #875BC2;
}

#btn {
  color: black;
  border: 1px solid grey;
}

#btn:hover,
#btn.hover {
  background-color: #875BC2;
}

#btn:active,
#btn.active {
  background-color: #875BC2;
}

#btn2 {
  color: black;
  border: 1px solid grey;
}

#btn2:hover,
#btn2.hover {
  background-color: #875BC2;
}

#btn2:active,
#btn2.active {
  background-color: #875BC2;
}


.thumbnail {
  height: 600px;
}


.thumbnail img {
  height: 285px;
  margin-bottom: 50px;
  border-radius: 20px;
}

header {
  height: 50px;
}



/*contact ejs*/

.jumbotron {
  height: 500px;
}

h1.contact {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 50px;
  color: white;
  font-size: 70px;
}

a.ct {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
}
